*{
    background: #212428;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    overflow-x: hidden;
}
ul,ol{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    
}
.container{
    border-bottom: 1px solid var(--black);
}

:root{
    --white:#fff;
    --red:#FF014F;
    --black:#000;
    --open:'Open Sans', sans-serif;
    --logo-font:'Rubik Gemstones', cursive;
    --poopins:'Poppins', sans-serif;
    --peragraph_color:#c4cfde;
    --oswald:'Oswald', sans-serif;
    --praimery_font:'Montserrat', sans-serif;
    --inner-shadow: 1px 4px 2px -3px rgba(0, 0, 0, 0.7) inset, -1px -3px 3px -2px rgba(255, 255, 255, 0.2) inset;
    --shadow-1: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    
}




            /*  ===============
                nav bar part start
            ====================  */

nav .logo_name a{
    color: var(--white);
    font-family: var(--logo-font);
    font-size: 30px;
}
nav .logo_name a:hover{
    color: var(--red);
}
nav .container{
    border: none;
}
.navbar-nav .nav-link{
    color: var(--white);
    font-family: var(--poopins);
    font-size: 18px;
    text-transform: uppercase;
    margin-left: 20px;
    font-weight: 500;
}
.navbar-nav .nav-link:hover{
    color: var(--red);
}
            /*  ===============
                nav bar part end
            ====================  */


            /*  ===============
                banner part start
            ====================  */


.banner_left .banner_info{
    padding: 100px 0;
}
#banner .banner_info h5{
    color: var(--peragraph_color);
}
#banner .banner_info h1{
    color: var(--white);
    font-family: var(--praimery_font);
    font-weight: 800;
    font-size: 40px;
}
#banner .banner_info span{
    color: var(--red);
}
#banner .banner_info p{
    color: var(--white);
    font-size: 35px;
    font-family: var(--praimery_font);
    font-weight: 800;
}
#banner .banner_info p span{
    color: var(--white);
}
#banner .banner_info h4{
    color: var(--peragraph_color);
    font-size: 20px;
    padding-right: 20px;
    line-height: 1.5;
    font-family: var(--open);
}
.banner_left .find_me{
    padding-top: 30px;
}
.banner_left .find_me .fwm p{
    text-transform: uppercase;
    font-size: 20px;
    font-family: var(--poopins);
    font-weight: 500;
    color: var(--peragraph_color);

}
.banner_left .find_me .social ul{
    display: flex;
}
.banner_left .find_me .social ul li {
    padding: 20px;
}
.banner_left .find_me .social ul li a{
    font-size: 25px;
    text-decoration: none;
    color: var(--white);
    background: #212428;
    margin-left: 10px;
    height: 45px;
    width: 45px;
    border-radius: 5px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 6px #000;
}

#banner .banner_image{
    padding: 50px;
    width: 100%;
    height: 100%;
}
#banner .banner_image img{
    border-radius: 20px;
 background-repeat:no-repeat;
 background-position:center;
 background-size:cover;
 animation:tokyo-morph 8s ease-in-out infinite 1s;
}
@keyframes tokyo-morph {
 0% {
  border-radius:60% 40% 30% 70%/60% 30% 70% 40%
 }
 50% {
  border-radius:30% 60% 70% 40%/50% 60% 30% 60%
 }
 100% {
  border-radius:60% 40% 30% 70%/60% 30% 70% 40%
 }
}

            /*  ===============
                banner part end
            ====================  */


        
            /*  ===============
                about part start
            ====================  */

#about{
    padding-top: 60px;
}
#about .about_left .about_cnt h3{
    color: var(--white);
    font-family: var(--praimery_font);
    font-size: 30px;
    font-weight: 600;
}
#about .about_left .about_cnt p{
    color: var(--white);
    font-family: var(--praimery_font);
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    padding: 60px 0 10px 30px;
}
#about .about_left .about_cnt span{
    color: var(--red);
    font-size: 20px;
    font-family: var(--praimery_font);
    padding-left: 30px;
}
#about .about_left .about_cnt h5{
    color: var(--peragraph_color);
    font-size: 20px;
    font-family: var(--praimery_font);
    padding-left: 30px;
    padding-top: 5px;
    line-height: 1;

}
#about .about_right .about_info{
    padding-bottom: 30px;

}
#about .about_right .about_info h2{
    color: var(--white);
    font-size: 40px;
    font-family: var(--praimery_font);
    font-weight: 600;
    position: relative;

}
#about .about_right .about_info h2::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 2px;
    background-color: var(--red);
    left: 0;
    bottom: 0;
}
#about .about_right .about_info span{
    color: var(--red);

}
#about .about_right .about_info p{
    color: var(--peragraph_color);
    font-size: 18px;
    font-family: var(--poopins);
    padding-right: 100px;

}
#about .about_right .about_info h3{
    color: var(--white);
    font-size: 18px;
    font-family: var(--poopins);
    font-weight: 400;
    line-height: 2;
    padding-bottom: 20px;
}
#about .about_right .about_info a{
    color: var(--white);
    font-size: 18px;
    font-family: var(--poopins);
    font-weight: 400;
    background-color: var(--red);
    line-height: 2;
    border-radius: 5px;
    padding: 8px 20px;
    box-shadow: 2px 3px 6px #000;
}

            /*  ===============
                about part end
            ====================  */


            /*  ===============
                skils part start
            ====================  */

#skils{
    padding-top: 60px;
}

#skils .container h3{
    text-align: center;
    font-size: 40px;
    font-family: var(--praimery_font);
    font-weight: 700;
    position: relative;
    padding-bottom: 30px;
}
#skils .progress_bar{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-bottom: 30px;
}
#skils .progress_bar .circlechart{
    fill: var(--white);
    font-weight: 800;
}


            /*  ===============
                skils part end
            ====================  */

            /*  ===============
                portfolio part start
            ====================  */

#portfolio{
    padding-top: 60px;
}
#portfolio h3{
    text-align: center;
    font-size: 40px;
    font-family: var(--praimery_font);
    font-weight: 700;
    padding-bottom: 30px;
}
#portfolio .port_item{
    margin: 40px;
}
#portfolio .port_item .inner_item{
    box-shadow: var(--shadow-1);
    padding: 20px;
    border-radius: 15px;
    cursor: pointer;
}
#portfolio .port_item .inner_item .image{
    position: relative;
}
#portfolio .port_item .inner_item img{
    border-radius: 10px;
}
#portfolio .port_item .inner_item .overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    bottom: 0;
    opacity: 0;
    transition: all linear .5s;
}
#portfolio .port_item .inner_item .overlay a{
    padding: 15px 25px;
    background: var(--red);
    border-radius: 10px;
    color: var(--white);
    font-family: var(--praimery_font);
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all linear .5s;
}
#portfolio .port_item .inner_item:hover .overlay{
    opacity: 1;
}

#portfolio .port_item .inner_item h4{
    color: var(--peragraph_color);
    font-weight: 600;
    font-size: 20px;
    font-family: var(--praimery_font);
    padding-top: 20px;
}

            /*  ===============
                portfolio part end
            ====================  */
            /*  ===============
                pricing part start
            ====================  */

#pricing{
    padding-top: 60px;
}
#pricing h4{
    text-align: center;
    font-size: 40px;
    font-family: var(--praimery_font);
    font-weight: 700;
    padding-bottom: 30px;
}
#pricing .prc_sec{
    padding-bottom: 30px;
}
.pricing h4{
    color: var(--red);
    font-size: 30px;
    font-family: var(--praimery_font);
    font-weight: 700;
}
#pricing .pricing{
    box-shadow: var(--shadow-1);
    padding: 20px;
    border-radius: 10px;
}
.pricing .price_header{
    margin-bottom: 30px;
}
.pricing .price_header .header_left{
    width: 70%;
}
#pricing .price_header h5{
    font-size: 25px;
    text-align: left;
    font-family: var(--praimery_font);
    font-weight: 600;
    padding: 0;

}
#pricing .price_header p{
    font-size: 30px;
    padding: 10px 20px;
    box-shadow: var(--shadow-1);
    color: var(--red);
    font-family: var(--praimery_font);
    font-weight: 600;

}
.pricing .pricing_body .detils p{
    font-size: 20px;
    font-family: var(--praimery_font);
    color: var(--peragraph_color);
}
.pricing .pricing_body .info {
    margin-top: 30px;
}
.pricing .pricing_body .info .info_srv{
    display: flex;
    padding: 5px;
}
.pricing .pricing_body .info .info_srv i{
    padding-top: 5px;
}
.pricing .pricing_body .info .info_srv p{
    padding-left: 15px;
    font-size: 18px;
    font-family: var(--praimery_font);
    color: var(--white);
}

.pricing .order{
    padding-top: 30px;
}
.pricing .order a{
    padding: 15px 40px;
    box-shadow: var(--shadow-1);
    font-size: 20px;
    font-family: var(--praimery_font);
    font-weight: 600;
    color: var(--red);
}


            /*  ===============
                pricing part end
            ====================  */

            /*  ===============
                contact part start
            ====================  */

#contact{
    padding-top: 60px;
}
#contact h6{
    text-align: center;
    font-size: 40px;
    font-family: var(--praimery_font);
    font-weight: 700;
    padding-bottom: 30px;
}
.cnt_pad{
    padding-bottom: 40px;
}
#contact .contact_left{
    box-shadow: var(--shadow-1);
    padding: 20px;
    border-radius: 10px;
}
#contact .contact_left img{
    border-radius: 10px;
}
#contact .contact_left h3{
    color: var(--white);
    font-size: 30px;
    font-family: var(--praimery_font);
    font-weight: 500;
    padding-top: 10px;
}
#contact .contact_left p{
    color: var(--peragraph_color);
    font-size: 18px;
    font-family: var(--praimery_font);
}
#contact .contact_left h4{
    color: var(--peragraph_color);
    font-size: 20px;
    font-family: var(--praimery_font);
    padding-bottom: 30px;
}
#contact .contact_left h5{
    color: var(--white);
    font-size: 18px;
    font-family: var(--praimery_font);
}
#contact .contact_left .find_me{
    padding: 40px 0;
}
#contact .contact_left .find_me p{
    color: var(--peragraph_color);
    font-size: 18px;
    font-family: var(--praimery_font);
    text-transform: uppercase;
}
#contact .contact_left .social ul{
    display: flex;
}
#contact .contact_left .social ul li{
    padding: 20px;
}
#contact .contact_left .social ul li a{
    font-size: 25px;
    text-decoration: none;
    color: var(--white);
    background: #212428;
    margin-left: 10px;
    height: 45px;
    width: 45px;
    margin: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 6px #000;
}

#contact .contact_right{
    box-shadow: var(--shadow-1);
    padding: 20px;
    border-radius: 10px;
}
#contact .contact_right form{
    display: flex;
    flex-direction: column;
}
#contact .contact_right form input,textarea{
    border: #000;
    box-shadow: var(--inner-shadow);
    padding: 10px;
    margin: 20px 5px;
}
#contact .contact_right button{
    border: #000;
    box-shadow: var(--shadow-1);
    padding: 10px;
    margin: 20px 5px;
    color: var(--red);
    text-transform: uppercase;
    font-size: 18px;
    font-family: var(--praimery_font);
    font-weight: 600;
}


            /*  ===============
                contact part end
            ====================  */


            /*  ===============
                footer part start
            ====================  */

footer{
    padding-top: 60px;
}
footer .container{
    border: none;
}
.footer {
    text-align: center;
    padding-bottom: 30px;
}
.footer .name h4{
    color: var(--white);
    font-size: 30px;
    font-family: var(--praimery_font);
    font-weight: 600;
}
.footer .name h4 span{
    color: var(--red);
    font-size: 30px;
    font-family: var(--praimery_font);
    font-weight: 600;
}
.footer .social ul{
    padding-top: 20px;
}
.footer .social ul li{
    display: inline-block;
    padding: 20px;
}
.footer .social ul li a{
    font-size: 25px;
    text-decoration: none;
    color: var(--white);
    background: #212428;
    margin-left: 10px;
    height: 45px;
    width: 45px;
    border-radius: 5px;margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 3px 6px #000;
}

.copyright {
	padding: 20px 0;
	background: var(--black);
	box-shadow: 0px 15px 20px #000;
}
.copyright h5{
    background: var(--black);
    text-align: center;
    color: var(--peragraph_color);
    line-height: 1.5;
}


            /*  ===============
                footer part end
            ====================  */
